.page {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

.page__body {
  margin: 0;
  padding: 0 20px;
  width: 1440px;
}

.page__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #222222;
}